---
layout: compress
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <div id="wrap">
      <header id="header">
        <h1 class="logo"><a href="/">{{ site.title }}</a></h1>
        <nav class="gnb">
          <a href="/">Home</a>
          <a href="/categories/">Categories</a>
        </nav>
      </header>

      <main id="container">
        {{ content }}
      </main>

      <footer id="footer">
        &copy; to me
      </footer>
    </div>
  </body>
</html>