---
layout: default
---

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%-m %-d, %Y" }}</span>
        <h2>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}