---
layout: default
---

<article class="post-wrap">
  <aside id="post-aside" class="post-aside">
    <div class="toc-outer">
      <ul>
        <li>
          <a href="#{{ page.title }}">{{ page.title }}</a>
          {% toc %}
        </li>
      </ul>
    </div>
  </aside>
  <div id="post-content" class="post-content">
    <div class="post-head">
      <h1 id="{{ page.title }}">{{ page.title }}</h1>
    </div>
    <div class="post-meta">
      <div>
        {{ page.date | date: "%Y-%m-%d %H:%M" }}
        {{ page.author | default: site.author }}
      </div>
    </div>
    <div id="post-body" class="post-body">{{ content }}</div>
  </div>
</article>

<!-- DISQUS 광고가 개쩔어서 주석처리
<div id="disqus_thread"></div>
<script>
    var disqus_config = function() {
      this.page.url = 'https://shinyj1991.github.io{{ page.url }}';
      this.page.identifier = '{{ page.id }}';
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://simplizm.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->

<script>
  let arrHeaderPos = [];
  let arrHeaderId = [];

  const getHeaderAttr = () => {
    arrHeaderPos = [];
    arrHeaderId = [];

    $('#post-content :header').each(function (i, o) {
      arrHeaderPos.push(o.offsetTop - 10);
      arrHeaderId.push(o.id);
    });

    arrHeaderPos.push(999999);
    arrHeaderId.push('');
  }

  const resizeObserver = new ResizeObserver(entries => {
    getHeaderAttr();
  });

  resizeObserver.observe(document.body);

  $(document).ready(() => {
    getHeaderAttr();
  });

  $(window).on('load scroll', function () {
    for (let i = 0; i < arrHeaderPos.length; i++) {
      if (window.scrollY < arrHeaderPos[i]) {
        $('#post-aside').find('a').removeClass('active');
        if (arrHeaderId[i - 1]) {
          $(`a[href="#${arrHeaderId[i - 1]}"]`).addClass('active').focus();
        }
        break;
      }
    }
  });
</script>